body{
    background-color: #151312;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
.header{
    position: relative;
}
.header{
  width: 100%;
  min-height: 100vh;
  background-image: url(./images/hero\ img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
nav img{
    height: 60px;
}
.main-msg{
    color: whitesmoke;
    font-size: 70px;
    font-weight: 900;
    text-align: center;
    padding-top: 40px;
}
.designer{
    color: #151312;
    background-color: #C5FF41;
    padding: 0 10px;
}
.para{
    color: #D9D9D9;
    font-size: 32px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
.available-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    color: #D9D9D9;
    font-size: 24px;
    text-align: center;
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
    padding: 40px;
    margin:0px auto;
    width: 500px;
}
.available-container a{
    padding-right: 20px;
}

h2{
    font-size: 32px;
    color: #D9D9D9;
    text-align: center;
    padding: 40px;
    margin-top: 40px;
}
/*about*/
.about h2{
    font-size: 32px;
    color: #D9D9D9;
    text-align: center;
    padding: 40px;
    margin-top: 40px;
    position: sticky;
    top: 100px;
}
.card{
    color: #D9D9D9;
    background-color:  #151312;
    font-size: 24px;
    text-align: center;
    border: 10px solid #C5FF4110;
    border-radius: 30px;
    padding: 20px;
    height: 300px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: sticky;
    top: 200px;
}
.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 500px;
    
}
.about{
    margin-bottom: 100px;
}



.stack img{
    height: 100px;
}

.stack{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

/*work*/

.work-image{
   width: 100%;
   height: auto;
}

.project{
    color: #D9D9D9;
    width: 300px;
    overflow: hidden;
    padding: 10px;
}

.project h3{
    margin-bottom: 5px;
    
}
.project p{
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 20px;
    
}
.button{
    text-decoration: none;
    color: inherit;
    border: 1px solid #C5FF41;
    padding: 5px 10px;

}
.work-container{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    
 
}


/*contact*/
.contact p{
    font-size: 24px;
    color: #D9D9D9;
    width: 600px;
}
.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.contact a{
    background-color: #C5FF41;
    padding: 20px;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    color: inherit;
    margin-top: 20px;
    margin-left: 350px;
}

/*footer*/
footer{
    color: white;
    font-size: 12px;
    padding: 30px;
    text-align: center;
}